@use '../../../styles/helpers/helpers' as *;

.gallery {
  background: color('lightGreyColor');
  grid-area: 5 / full-start / 6 / full-end;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: row dense;
  grid-auto-rows: 5vw;
  gap: 0.5rem;
  padding: 0.5rem;

  @include respond(tab-portrate) {
    grid-area: 6 / full-start / 7 / full-end;
  }

  @include respond(phone) {
    grid-area: 8 / full-start / 9 / full-end;
  }
}
