.gallery-img--landscape {
  grid-column: span 2;
  grid-row: span 3;
}

.gallery-img--landscapeLarge {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery-img--portrate {
  grid-column: span 1;
  grid-row: span 3;
}
